<!-- <section class="bg-footer relative overflow-hidden">
  <img src="../images/bg-footer.png" alt="" class="absolute inset-0 w-full h-full object-cover -z-10">

  <div class="container py-10 flex flex-col items-center lg:items-start">
    <h2 class="title-first !text-[#668e7f] text-center lg:text-left w-full">Contato</h2>
    <p class="mb-8 text-center lg:text-left w-full">Atendimento mediante agendamento prévio.</p>

    <div class="w-full flex flex-col lg:flex-row gap-8 lg:gap-10 items-center lg:items-start">

      <div class="flex items-start gap-2 text-center lg:text-left">
        <img src="../images/map.svg" alt="" class="icon-footer flex-none">
        <ul class="list-none m-0 p-0">
          <li>Avenida Jurucê, 789</li>
          <li>Moema - São Paulo - SP</li>
          <li>CEP: 04080-010</li>
        </ul>
      </div>

      

      

    </div>
  </div>
</section> -->
<section class="w-full h-full bg-white">
  <div class="container-section">
    <h1 class="title-first lg:text-left text-center">Contato</h1>
    <h2 class="lg:text-left text-center text-lg !mb-4">Atendimento mediante agendamento prévio.</h2>
    <div class="grid lg:grid-cols-3 grid-cols-1 justify-center">
      <div class="flex justify-center lg:justify-start items-start gap-2 !mb-4">
        <img src="../images/map.svg" alt="" class="icon-footer">
        <div>
          <li>Avenida Jurucê, 789</li>
          <li>Moema - São Paulo - SP</li>
          <li>CEP: 04080-010</li>
        </div>
      </div>
      <a href="tel:+5511996387920" class="block lg:flex justify-center lg:justify-start items-center gap-2 !mb-4">
        <img src="../images/phone.svg" alt="" class="icon-footer">
        <span>+55 (11) 99638-7920</span>
      </a>
      <div class="flex justify-center lg:justify-start items-center gap-2">
        <img src="../images/doc.svg" alt="" class="icon-footer">
        <span>CRP 06/112830</span>
      </div>
    </div>

  </div>
</section>