<section class="bg-footer">
  <img src="images/bg-footer.png" alt="">
  <div class="container">
    <h2 class="title-first !text-[#668e7f]">Contato</h2>
    <p class="mb-6">Atendimento mediante agendamento prévio.</p>
    <div class="w-full flex gap-10 items-start">
      <div class="flex items-start gap-2">
        <img src="images/map.svg" alt="" class="icon-footer">
        <ul class="list-none m-0 p-0">
          <li>Avenida Jurucê, 789</li>
          <li>Moema - São Paulo - SP</li>
          <li>CEP: 04080-010</li>
        </ul>
      </div>
      <a href="" class="flex items-center gap-2">
        <img src="images/phone.svg" alt="" class="icon-footer">
        <span>+55 (11) 99638-7920</span>
      </a>
      <div class="flex items-center gap-2">
        <img src="images/doc.svg" alt="" class="icon-footer">
        <span>CRP 06/112830</span>
      </div>
    </div>
  </div>
</section>