<section class="bg-footer">
  <img src="../images/bg-footer.png" alt="Background">
  <div class="container-section w-full mx-auto flex justify-center lg:justify-start px-4">
    <div class="max-w-[900px] w-full text-center lg:text-left flex flex-col items-center lg:items-start">
      <h1 class="title-first">Contato</h1>
      <h2 class="text-lg !mb-8">Atendimento mediante agendamento prévio.</h2>
      <div class="grid lg:grid-cols-3 grid-cols-1 gap-8 w-full">
        <div class="flex flex-col lg:flex-row items-center lg:items-start gap-2">
          <img src="../images/map.svg" alt="" class="icon-footer w-5">
          <ul class="list-none">
            <li>Avenida Jurucê, 789</li>
            <li>Moema - São Paulo - SP</li>
            <li>CEP: 04080-010</li>
          </ul>
        </div>
        <a href="tel:+5511996387920" class="flex flex-col lg:flex-row items-center lg:items-start gap-2">
          <img src="../images/phone.svg" alt="" class="icon-footer w-6">
          <span>+55 (11) 99638-7920</span>
        </a>
        <div class="flex flex-col lg:flex-row items-center lg:items-start gap-2">
          <img src="../images/doc.svg" alt="" class="icon-footer w-6">
          <span>CRP 06/112830</span>
        </div>

      </div>
    </div>
  </div>
</section>