<header class="w-full bg-white shadow">
  <div class="container-section">
    <div class="flex items-center justify-between">
      <img src="../images/logo-giovana.svg" alt="Logo" class="w-[300px] min-[1157px]:w-auto h-auto">
      <!-- Desktop -->
      <nav class="hidden lg:flex gap-6">
        <a href="../index.html">Home</a>
        <a href="../pages/trajetoria-profissional.html">Trajetória Profissional</a>
        <a href="../pages/atendimentos.html">Atendimentos</a>
        <a href="../pages/supervisao.html">Supervisão</a>
        <a href="../pages/publicacoes.html">Publicações</a>
        <a href="../pages/contato.html">Contato</a>
      </nav>

      <button id="menuBtn" class="lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>

    </div>
  </div>
  <!-- Mobile -->
  <div id="mobileMenu" class="hidden lg:hidden px-4 pb-4 bg-[#668E7F]">
    <nav class="flex flex-col items-center gap-4">
      <a href="../index.html">Home</a>
      <a href="../pages/trajetoria-profissional.html">Trajetória Profissional</a>
      <a href="../pages/atendimentos.html">Atendimentos</a>
      <a href="../pages/supervisao.html">Supervisão</a>
      <a href="../pages/publicacoes.html">Publicações</a>
      <a href="../pages/contato.html">Contato</a>
    </nav>
  </div>
</header>