<header class="w-full bg-white shadow">
  <div class="container-section">
    <div class="flex items-center justify-between">
      <a href="../index.html"><img src="../images/logo-giovana.svg" alt="Logo" class="w-[280px] min-[1157px]:w-auto h-auto"></a>
      <!-- Desktop -->
      <nav class="hidden lg:flex gap-8">
        <a href="../index.html" class="menu-link">Home</a>
        <a href="../pages/trajetoria-profissional.html" class="menu-link">Trajetória Profissional</a>
        <a href="../pages/atendimentos.html" class="menu-link">Atendimentos</a>
        <a href="../pages/supervisao.html" class="menu-link">Supervisão</a>
        <a href="../pages/publicacoes.html" class="menu-link">Publicações</a>
        <a href="../pages/contato.html" class="menu-link">Contato</a>
      </nav>

      <button id="menuBtn" class="lg:hidden">
        <img src="../images/nav-mobile.svg" alt="">
      </button>

    </div>
  </div>
  <!-- Mobile -->
  <div id="mobileMenu" class="lg:hidden px-4 pb-4 bg-[#668E7F]">
    <nav class="flex flex-col items-center gap-4 text-white !py-8">
      <a href="../index.html">Home</a>
      <a href="../pages/trajetoria-profissional.html">Trajetória Profissional</a>
      <a href="../pages/atendimentos.html">Atendimentos</a>
      <a href="../pages/supervisao.html">Supervisão</a>
      <a href="../pages/publicacoes.html">Publicações</a>
      <a href="../pages/contato.html">Contato</a>
    </nav>
  </div>
</header>