<nav class="w-full h-24 bg-[#f1f1f1]">
  <div class="container h-full mx-auto flex justify-between items-center px-4">
    <a href="/giovana-jafelice/index.html">
      <img src="/giovana-jafelice/images/logo-giovana.svg" alt="Logo" width="392">
    </a>

    <ul class="flex items-center gap-8">
      <li><a href="index.html">Home</a></li>
      <li><a href="../pages/trajetoria-profissional.html">Trajetória Profissional</a></li>
      <li><a href="../pages/atendimentos.html">Atendimentos</a></li>
      <li><a href="../pages/supervisao.html">Supervisão</a></li>
      <li><a href="../pages/publicacoes.html">Publicações</a></li>
      <li><a href="../pages/contato.html">Contato</a></li>
    </ul>
  </div>
</nav>